body {
  font-family: Verdana, sans-serif;
}

h1 {
  color: #875da3;
  font-variant: small-caps;
  margin: 0px 0px 8px 0px;
}

.titletopper {
  margin: 0px;
  padding: 0px;
  color: #875da3;
  font-variant: small-caps;
  font-weight: bold;
}

.kingdom_icon {
  float: left;
  margin-right: 1em;
}

.old_kingdom {
  padding: 0.5em 1% 1em 1%;
}

.credits {
  font-size: small;
  padding: 6px;
}

#new_kingdom {
  margin: 1%;
  padding: 3px 6px 3px 6px;
  background: #ddd;
  font-size: large;
  border-radius: 3px;
}

#current_kingdom {
  height: 2.5em;
  margin: 1%;
  padding: 2em 1% 1em 1%;
}

#previous_kingdoms {
  border-top: 1px solid #a7a;
  border-bottom: 1px solid #a7a;
}

#old_kingdom_box {
  font-size: small;
  padding: 0% 5% 0% 5%;
  margin: 0% 5% 2em 5%;
}

#colinlinks {
  padding: 6px;
}

#colinlinks p {
  margin: 0px;
  font-size: small;
}
