html {
  font-family: Verdana, sans-serif;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 20pt;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 14pt;
  }
}

h1 {
  color: #875da3;
  font-variant: small-caps;
  margin: 0px 0px 8px 0px;
}

.titletopper {
  margin: 0px;
  padding: 0px;
  color: #875da3;
  font-variant: small-caps;
  font-weight: bold;
}

.kingdom_icon {
  float: left;
  margin-right: 1em;
}

.old_kingdom {
  padding: 0.5em 1% 1em 1%;
}

.credits {
  font-size: 80%;
  padding: 6px;
}

#new_kingdom {
  background: #875da3;
  color: white;
  font-size: large;

  margin: 1em;
  border: 3px outset #a75dc3;
  border-radius: 2em;
  padding: 0.5em 1em 0.5em 1em;

  cursor: pointer;
}

#new_kingdom:active {
  border: 3px inset pink;
}

@media screen and (min-width: 320px) {
  #new_kingdom {
    font-size: 20pt;
  }
}
@media screen and (min-width: 1000px) {
  #new_kingdom {
    font-size: 14pt;
  }
}

#current_kingdom {
  height: 2.5em;
  margin: 1%;
  padding: 2em 1% 1em 1%;
}

#previous_kingdoms {
  border-top: 1px solid #a7a;
  border-bottom: 1px solid #a7a;
}

#old_kingdom_box {
  font-size: small;
  padding: 0% 5% 0% 5%;
  margin: 0% 5% 2em 5%;
}

#colinlinks {
  padding: 6px;
}

#colinlinks p {
  margin: 0px;
  font-size: 80%;
}
